<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GAIAndroid"
        tools:targetApi="31">

        <uses-native-library
            android:name="libandroid.so"
            android:required="false"/>
        <uses-native-library
            android:name="libneuronsdk_adapter.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libapuwareutils_v2.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libapuwareutils.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libcmdl_ndk.mtk.vndk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libcmdl_ndk.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libapuwareapusys_v2.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.so"
            android:required="false"/>
        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.vndk.so"
            android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GAIAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name=".AudioChatActivity"
            android:exported="false"
            android:theme="@style/Theme.GAIAndroid" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.LLMEngineService" />
        <service android:name=".service.VLMEngineService" />
        <service android:name=".service.ASREngineService" />
        <service android:name=".service.TTSEngineService" />
    </application>

</manifest>